:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  /* 
  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%; */
}
/* 
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
} */
/* 
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
#root {
  padding: 0;
  margin: 0 auto;
}

body {
  margin: 0;
}

nav {
  background-color: #646cff;
  width: 100%;
  height: fit-content;
  position: fixed;
  top: 0;
  left: 0;
}

nav > span {
  color: white;
  font-size: 24px;
  font-weight: bold;
  display: block;
  text-align: left;
  margin: 20px 15px 20px;
}

h1 {
  color: black;
  font-size: 36px;
  margin: 125px 0 30px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  width: 85%;
  margin: 0 auto;
}

.company-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
  width: 450px;
  height: 325px;
  border: 1px solid lightgrey;
  box-shadow: 0px 2px 3px lightgrey;
  border-radius: 5%;
}

.company-container > img {
  width: 25%;
  height: auto;
  align-self: center;
}

h2 {
  color: black;
  font-size: 28px;
  font-weight: bold;
  padding-bottom: 20px;
  margin: 0;
}

h3 {
  color: black;
  font-size: 20px;
  font-weight: bold;
  margin: 20px 0;
}

p {
  color: black;
  font-size: 16px;
  margin: 0;
}

.CompanyPage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.CompanyPage > h1 {
  font-size: 28px;
}

.CompanyProfile {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 85%;
  margin: 0 auto;
}

.image-card {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 250px;
  height: 250px;
  border: 1px solid lightgrey;
  box-shadow: 0px 2px 3px lightgrey;
  border-radius: 5%;
}

.image-card > img {
  width: 50%;
  height: auto;
  align-self: center;
}

.info-card {
  align-self: center;
  width: 450px;
  height: 325px;
}

.info-card > h2 {
  font-size: 36px;
}

.tech-stack {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: fit-content;
  width: 85%;
  margin: 50px 0;
  padding: 0 0 30px;
  overflow-y: hidden;
  overflow-x: scroll;
}

.technology {
  padding: 0 20px;
}

.technology > h3 {
  color: black;
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0 0;
}

.tech-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border: 1px solid lightgrey;
  box-shadow: 0px 2px 3px lightgrey;
  border-radius: 5%;
}

.tech-card > img {
  width: 40px;
  height: auto;
}
